
<div class="ui-g-12" style="text-align:left">
  <button type="button" icon="fa fa-chevron-left" (click)="voltar()" pButton></button>
</div>

<div class="ui-g-12">
  <div class="jumbotron" style="background-color:#59735d">
    <h2 style="text-align:center">Detalhamento do Time</h2>
  </div>
</div>

<div class="ui-g-12">

  <div class="ui-g-12 ui-md-6">
    <img src="{{time.url_escudo_png}}" width="60" height="60">
  </div>

  <div class="ui-g-12 ui-md-6">
    <div>
      <span>Cartola: <strong>{{time.nome_cartola}}</strong></span>
    </div>
    <div>
      <span>Rodada Anterior: <strong>{{pontos}}</strong></span>
    </div>
    <div>
      <span>Parciais: <strong>{{totPontos}}</strong></span>
    </div>
    <div>
      <span>Patrimonio: <strong>{{patrimonio}}</strong></span>
    </div>
    <div>
      <span>Valorização: <strong>0,00</strong></span>
    </div>
  </div>
</div>

<div class="ui-g-12">
  <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
    <thead>
      <tr role="row">
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 215px;">Atleta</th>
        <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 211px;">
          <span class="hidden-xs">Pts. Total</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atleta of atletas ">
        <td tabindex="0">
          <div class="box-tabela-premiacao"><span class="datatable-colocacao">{{atleta.posicao_lit}} </span>
            <div>
              <img class="datatable-escudo" src="{{atleta.foto}}"> 
              <span class="datatable-nome-time">{{atleta.apelido}}</span>
              <span class="datatable-nome-coach">Scout:</span>

            </div>
          </div>
        </td>
        <td class=" text-center"><span class="datatable-pontuacao">{{atleta.pontos_num}}</span></td>
      </tr>
    </tbody>
  </table>
</div>