<body class="landing-body">



    <div class="landing-wrapper">
        <div class="landing-header">
            <div class="landing-header-content clearfix">

                <img src="" width="113">

                <a id="menu-button" href="#">
                    <img src="../../assets/layout/images/landing/landing-menu-icon.svg">
                </a>
                <ul id="menu">
                    <li><a routerLink="/landing">Home</a></li>
                    <li><a routerLink="/login">Entrar</a></li>
                    <li><a routerLink="/register">Criar uma conta</a></li>
                </ul>
            </div>
        </div>

        <div id="introduction">
            <div class="introduction-content">
                <span class="title">Olá, Jogador</span>
                <span class="subtitle">Venha se divertir e faturar uma bolada!</span>
                <img src="../../assets/layout/images/landing/section1_logo.png">

                <button pButton (click)="entrar()" type="button" label="Entrar"
                    style="margin-bottom:10px;width:auto"></button>

                <!--
                <a routerLink="/login" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    type="button" role="button" aria-disabled="false">
                    <span class="ui-button-text ui-c">Entrar</span>
                </a>
            -->

            </div>
        </div>

        <div id="features">
            <div class="features-content">
                <span class="feature-title">Rodada Cartola em andamento</span>


                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">

                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <img src="../../assets/layout/images/landing/{{rodada.idRodada}}.png" class="feature-icon">
                        <span class="feature-text">
                            <span>Premiação: R$ {{premiacaoFinalFormat}} </span>
                            <span>Participantes: {{totalParticipantes}} </span>
                            <p>Valor: R$ 10,00 </p>
                            <p>Inscrições até: {{dataFim}} às {{horaFim}}  </p>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">

                    </div>
                </div>
            </div>
        </div>


        <div class="landing-footer">
            <div class="landing-footer-content">
                <div class="footer-top">
                    <div class="ui-g">
                        <div class="ui-g-6">
                            <img src="">
                            <p>Point do Jogador</p>
                        </div>
                        <div class="ui-g-6">
                            <ul>
                                <li><a routerLink="">Política de privacidade</a></li>
                                <li><a routerLink="">Termos e condições de uso</a></li>
                                <li><a routerLink="">contato@pointdojogador.com.br</a></li>
                            </ul>
                       <!--     <ul>
                                <li><a routerLink="/landing">Home</a></li>
                                <li><a routerLink="/login">Entrar</a></li>
                                <li><a routerLink="/register">Criar uma conta</a></li>
                            </ul>
                        -->    
                            
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    Todos os direitos reservados
                </div>
            </div>
        </div>
    </div>

    <script>
        OmegaLanding = {
            addClass: function (element, className) {
                if (element.classList)
                    element.classList.add(className);
                else
                    element.className += ' ' + className;
            },

            removeClass: function (element, className) {
                if (element.classList)
                    element.classList.remove(className);
                else
                    element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            },

            hasClass: function (element, className) {
                if (element.classList)
                    return element.classList.contains(className);
                else
                    return new RegExp('(^| )' + className + '( |$)', 'gi').test(element.className);
            },

            hideMenu: function () {
                this.removeClass(document.getElementById('menu'), 'overlay-menu');
            },

            showMenu: function () {
                this.addClass(document.getElementById('menu'), 'overlay-menu');
            }
        };

        document.getElementById('menu-button').addEventListener('click', function (e) {
            var menu = document.getElementById('menu');

            if (OmegaLanding.hasClass(menu, 'overlay-menu'))
                OmegaLanding.hideMenu();
            else
                OmegaLanding.showMenu();

            e.preventDefault();
        });

        var menuLinks = document.querySelectorAll('#menu a');
        for (i = 0; i < menuLinks.length; i++) {
            menuLinks[i].addEventListener('click', function (e) {
                OmegaLanding.hideMenu();
            });
        }
    </script>

</body>