<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Minha Conta</h3>
        </div>
        <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Settings</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <h6 class="heading-small text-muted mb-4">Informações básicas</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Nome</label>
                <input type="text" class="form-control form-control-alternative" id="nome" value
                  aria-describedby="inputGroupPrepend" name="nome"
                  ngModel="{{ usuario.nome }}" disabled>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">E-mail</label>
                <input type="text" class="form-control form-control-alternative" id="email"
                  aria-describedby="inputGroupPrepend" name="email"
                  ngModel="{{ usuario.email }}" disabled>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!-- Address -->
        <h6 class="heading-small text-muted mb-4">Informações adicionais</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address">Contato</label>
                <input type="text" class="form-control form-control-alternative" id="contato"
                  aria-describedby="inputGroupPrepend" name="celular"
                  ngModel="{{ usuario.contato }}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-city">Time favorito</label>
                <input type="text" class="form-control form-control-alternative" id="timeFavorito"
                  aria-describedby="inputGroupPrepend" name="timeFavorito"
                  ngModel="{{ usuario.timeFavorito }}" disabled>
              </div>
            </div>

          </div>
        </div>
        <hr class="my-4" />
        <!-- Description -->


      </form>
    </div>
  </div>
</div>