<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Rodadas</h4>
          <div class="ui-g-12" style="text-align:right">
            <button  class="btn btn-primary btn-fill" (click)="cadastrarRodadaCartola()">
              NOVA RODADA
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
            <thead class="text-primary">
              <tr>
                <th>Temporada</th>
                <th>Rodada</th>
                <th>Tipo</th>
                <th colspan="2">Situação</th>
                <th>  </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rodada of rodadas ">
                <td>{{rodada.anoTemporada}}</td>
                <td>#{{rodada.nrRodada}}</td> 
                <td>{{rodada.tipoCompeticao}}</td> 
                <td>{{rodada.statusCompeticao}}</td> 
                <td>
                  <div class="" ngbDropdown>
                    <button
                      type="button"
                      class="btn btn-round btn-default btn-simple btn-icon no-caret"
                      data-toggle="dropdown"
                      ngbDropdownToggle
                    >
                      <i class="now-ui-icons loader_gear"></i>
                    </button>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="listarTimesDaRodada(rodada)" ><i class="fas fa-list"></i> Listar Times</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="alterarRodadaCartola(rodada)"><i class="fas fa-edit"></i>Alterar Rodada</a>
                      <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="excluirRodadaCartola(rodada)"><i class="fas fa-trash"></i>Excluir Rodada</a>
                    </div>
                  </div>
                </td>
                
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>