<div class="ui-g-12" style="text-align:left">
  <button type="button" icon="fa fa-chevron-left" (click)="voltar()" pButton></button>

</div>

<div class="ui-g-12">
  <div class="jumbotron" style="background-color:#59735d">
    <h2 style="text-align:center">Minhas Ligas</h2>
  </div>
</div>


<div class="ui-g-12">

  <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
    <thead>
      <tr role="row">
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 215px;">Rodada</th>
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 215px;">Valor</th>

        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 215px;">Situação</th>
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 215px;"> </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meuJogo of meusJogos ">
        <td><span class="datatable-pontuacao">#{{meuJogo.idRodada}}</span></td>
        <td><span class="datatable-pontuacao">{{meuJogo.sum}}</span></td>
        <td><span class="datatable-pontuacao">{{meuJogo.statusPgto}}</span></td>
        <td> <button type="button" icon="fa fa-search" (click)="jogosdaRodada(meuJogo)" pButton></button></td>
        <td> <button type="button" icon="fa fa-money"  class="ui-button-success" (click)="meusTimes(meuJogo)" pButton></button></td>
      </tr>
    </tbody>
  </table>
</div>


<p-dialog [(visible)]="pagamentos" modal="modal" showEffect="fade" width="300" appendTo="body">
  <div class="card card-w-title" >
    <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th scope="col">Times</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of times ">
          <td tabindex="0">
            <div class="box-tabela-premiacao">
              <div>
                <img class="datatable-escudo" src="{{time.url_escudo_png}}">
                <span class="datatable-nome-time">{{time.nome}}</span>
                <span class="datatable-nome-coach">{{time.nome_cartola}}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton  (click)="pagamentos=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog [(visible)]="jogosRodada" modal="modal" showEffect="fade" width="400" appendTo="body">
  <div class="ui-g-12">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped" style="width: 100%;" role="grid" width="100%"
        cellspacing="0">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 215px;">Time</th>
                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 211px;">
                    <span class="hidden-xs">Pts. Total</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parcial of parciais; let i = index">
                <td tabindex="0">
                    <div class="box-tabela-premiacao"><span class="datatable-colocacao">{{i + 1}}º</span>
                        <div>
                            <img class="datatable-escudo"
                                src="{{parcial.url_escudo_png}}">
                            <span class="datatable-nome-time">{{parcial.nome}}</span><span
                                class="datatable-nome-coach">{{parcial.nome_cartola}}
                            </span>
                        </div>
                    </div>
                </td>
                <td class=" text-center"><span class="datatable-pontuacao">{{parcial.pontosTotais}}</span></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton  (click)="jogosRodada=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>