<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div style="text-align:center">
          <h1> Consultar Bilhete</h1>
          <div class="input-group no-border">
            <!-- <input type="text" class="form-control" placeholder="Buscar time..." [(ngModel)]="nomeTimeBusca" /> -->
            <input type="text" class="form-control" placeholder="Digite o codigo do bilhete" />
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="CPH2_panelCupom" class="panelCupom" style="text-align:left;">
    <div id="CPH2_divBilheteImpressao" class="divBilheteImpressao">
      <h4 id="CPH2_txtNomeBanca" class="text-center">POINT DO JOGADOR</h4>
      <h4 id="CPH2_txtTelefoneBanca" class="text-center">TIRO CURTO #1</h4>
      <hr class="HR">
      
      <span style="display: inline-block">ADMINSTRADOR:&nbsp;</span><span id="CPH2_txtVendedor">PITERSON</span><br>
      <span style="display: inline-block">CLIENTE:&nbsp;</span><span id="CPH2_txtCliente">PITERSON</span><br>

      <hr class="HR">
      
      <div>
        <strong>
          <span>PointdoJogador</span></strong><br>
        <span>Piterson</span><br>
        <strong>
          <span>Resultado</span></strong><br>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8"><span style="display: inline-block">Pontuação</span></div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span style="display: inline-block">101.98</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8"><span style="display: inline-block">Colocação:</span>
          </div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span style="display: inline-block">10º</span>
          </div>
        </div>

        <hr class="HR">
      </div>

      <div>
        <strong>
          <span>PointdoJogador2</span></strong><br>
        <span>Piterson</span><br>
        <strong>
          <span>Resultado</span></strong><br>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8"><span style="display: inline-block">Pontuação</span></div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span style="display: inline-block">90.00</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8"><span style="display: inline-block">Colocação:</span>
          </div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span style="display: inline-block">11º</span>
          </div>
        </div>

        <hr class="HR">
      </div>

      <div>
        <strong>
          <span>PointdoJogador3</span></strong><br>
        <span>Piterson</span><br>
        <strong>
          <span>Resultado</span></strong><br>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8"><span style="display: inline-block">Pontuação</span></div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span style="display: inline-block">87.44</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8"><span style="display: inline-block">Colocação:</span>
          </div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span style="display: inline-block">12º</span>
          </div>
        </div>

        <hr class="HR">
      </div>

     

  

  


      <div>
        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8">Quantidade de Times:</div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span id="CPH2_txtQtdJogos">3</span></div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-md-8 col-sm-8 col-xs-8">Total Apostado:</div>
          <div class="col-xs-4 col-md-4 col-sm-4 col-xs-4 text-right"><span id="CPH2_txtTotalApostado">R$30,00</span>
          </div>
        </div>



        <hr class="HR">

        <div class="row">
          <div class="col-xs-12 text-center"><span>Bilhete</span></div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center"><strong><span id="CPH2_txtBilhete">HGWQ-C4R0</span></strong></div>
        </div>

        <hr class="HR">

      </div>
    </div>

  </div>
</div>