<div class="ui-g-12" style="text-align:left">
  <button type="button" icon="fa fa-chevron-left" (click)="voltar()" pButton></button>
</div>

<div class="ui-g-12">
  <div class="jumbotron" style="background-color:#59735d">
    <h2 style="text-align:center">Usuários</h2>
  </div>
</div>

<div class="card card-w-title" *ngIf="usuarios.length">
  <div class="table-responsive">
    <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Contato</th>
          <th scope="col">Time Favorito</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
          <th scope="row">
            {{usuario.id}}
          </th>
          <th scope="row">
            {{usuario.nome}}
          </th>
          <th scope="row">
            {{usuario.email}}
            &nbsp;
            <button pButton icon="pi pi-key" (click)="show(usuario)"></button>
          </th>
          <th scope="row">
            {{usuario.contato}}
            <a href="{{urlWapp[i]}}"><i class="fa fa-whatsapp"></i>  </a>
          </th>
          <th scope="row">
            {{usuario.timeFavorito}}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>