<div class="modal-header">
  <div class="modal-header justify-content-center">
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title title-up">Alterar Senha</h4>
  </div>
</div>

<div class="modal-body">

  <form #f="ngForm" [formGroup]="formulario" (ngSubmit)="onSubmit()">
         

        <div class="card-body ">
          <div class="form-group">
              <input 
              class="form-control" 
              type="password"
              formControlName="senha1" 
              name="senha1" 
              placeholder="Informe a nova senha" />
          </div>

          <div class="form-group">
              <input 
              class="form-control" 
              type="password"
              formControlName="senha" 
              name="senha" 
              placeholder="Repita sua nova senha" />
          </div>
        </div>
        
    
  
    <div class="form-group" style="text-align:right">
      <button type="submit" class="btn btn-fill btn-primary" [disabled]="!f.valid">Salvar</button>
    </div>
  
  </form>
  

</div>  
