<app-mensageria [mensagensFixas]="mensageria.mensagensFixas" [processamento]="mensageria.processamento">
</app-mensageria>

<div class="ui-g-12">
  <form #f="ngForm" [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <h6 class="heading-small text-muted mb-4">{{usuario.email}}</h6>
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
          <input pInputText class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="password"
            formControlName="senha1" name="senha1"  placeholder="Nova Senha">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
          <input pInputText class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="password"
            formControlName="senha" name="senha"  placeholder="Repita a Senha">
        </div>
      </div>


      <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" icon="fa fa-save " class="ui-button-success"></button>
      </div>
      
    </div>

  </form>

</div>




<!--
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-control-label" for="input-address">Nova Senha</label>
      <input type="text" class="form-control" id="senha" aria-describedby="inputGroupPrepend" name="senha"
        [(ngModel)]="usuario.senha">
    </div>

    <div class="form-group" style="text-align:right">
      <button pButton type="submit" label="Salvar" icon="fa fa-save " class="ui-button-success"></button>
    </div>
  </form>
-->

<p-footer>
  <button type="button" pButton (click)="close()" label="Fechar"></button>
</p-footer>