<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Alterar dados da competição</h4>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body ">
                <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit()">

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Nome da Liga</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.nomeLiga" 
                        name="nomeLiga" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Temporada</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.anoTemporada" 
                        name="anoTemporada" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Rodada</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.nrRodada" 
                        name="nrRodada" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Data fim Inscrição</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.dataFimInscricao" 
                        name="dataFimInscricao" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Hora fim Inscrição</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.horaFimInscricao" 
                        name="horaFimInscricao" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Situação</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.statusCompeticao" 
                        name="statusCompeticao" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Valor</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.valorCompeticao" 
                        name="valorCompeticao" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Taxa Admininstração</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.txAdm" 
                        name="txAdm" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Tipo Compentição</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.tipoCompeticao" 
                        name="tipoCompeticao" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="col-sm-2 col-form-label">Link WhastApp</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="competicao.linkGrupoWapp" 
                        name="linkGrupoWapp" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-10">
                      <div class="card-footer ">
                        <button type="submit" class="btn btn-fill btn-primary">Alterar</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>