.style-content {
  margin-bottom: 60px !important;
}

span.datatable-colocacao {
  font-weight: 600;
  font-size: 10px;
  margin: 10px 5px 0 0;
  width: 18px;
  float: left;
}

img.datatable-escudo {
  width: 17px;
  float: left;
  height: 18px;
  margin: 10px 8px 12px 0px;
}
img.datatable-pro {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
span.datatable-nome-time {
  margin-left: 56px;
  font-size: 12px;
  display: block;
  font-family: "Open Sans";
  font-weight: bold;
  color: #333;
  margin: 0px 0px 1px 0px;
}
span.datatable-nome-coach {
  margin-left: 2px;
  font-size: 11px;
  display: block;
  font-family: "Open Sans";
  font-weight: 300;
  color: #f28854;
}

span.datatable-pontuacao {
  font-size: 14px;
  font-weight: 600;
}

span.datatable-pontuacaoAnual {
  font-size: 15px;
  font-weight: 600;
  color: rgba(23, 6, 170, 0.753);
}

span.datatable-premiacao {
font-size: 14px;
font-weight: 600;
color: rgb(243, 10, 10);
}

