<div class="card card-w-title">
  <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th class="sorting_disabled" rowspan="1" colspan="1" >Atleta</th>
        <th class="text-center sorting_disabled" rowspan="1" colspan="1" >
          <span class="hidden-xs">Pts. Total</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atleta of atletas ">
        <td tabindex="0">
          <div class="box-tabela-premiacao"><span class="datatable-colocacao">{{atleta.posicao_lit}} </span>
            <div>
              <img class="datatable-escudo" src="{{atleta.foto}}">
              <span class="datatable-nome-time">{{atleta.apelido}} <img *ngIf="atleta.capitao" class="datatable-capitao"
                  src="/assets/layout/images/capitao.png"></span>
             <!--
                  <span class="datatable-nome-coach">Scout: {{atleta.elementosScout}}</span>
             -->
            </div>
          </div>
        </td>
        <td class=" text-center">
          <span *ngIf="atleta.pontos_num === null" class="datatable-pontuacao"> -- </span>
          <span *ngIf="atleta.pontos_num != null" class="datatable-pontuacao">{{atleta.pontos_num}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p-footer>
  <button type="button" pButton (click)="close()" label="Fechar"></button>
</p-footer>