<ngx-spinner name="rodada" [fullScreen]="true" type="ball-spin-clockwise" size="medium"></ngx-spinner>


<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div style="text-align:center">
          <h1> {{ competicaoRodada.nomeLiga}}</h1>
          <h2 *ngIf="competicaoRodada.tipoCompeticao === 'TIRO CURTO'">
            <span class="badge badge-success">TIRO CURTO #{{ competicaoRodada.nrRodada}}</span>
          </h2>
          <h2 *ngIf="competicaoRodada.tipoCompeticao === 'ANUAL'">
            <span class="badge badge-info">{{ competicaoRodada.tipoCompeticao }}</span>
          </h2>
          <h2 *ngIf="competicaoRodada.tipoCompeticao === 'MENSAL'">
            <span class="badge badge-warning">{{ competicaoRodada.tipoCompeticao }}</span>
          </h2>
          <h2 *ngIf="competicaoRodada.tipoCompeticao === 'ELIMINATORIA'">
            <span class="badge badge-danger">{{ competicaoRodada.tipoCompeticao }}</span>
          </h2>
        </div>
        <div class="style-content" *ngIf="competicaoRodada.statusCompeticao === 'Aberta' || competicaoRodada.statusCompeticao === 'Próxima'">
          <div class="col-md-12 text-center">
            <button class="btn btn-success btn-lg " (click)="gerarBilhete(competicaoRodada)">CLIQUE AQUI PARA PARTICIPAR
            </button>
          </div>
        </div>
      </div>

     <div class="text-right" *ngIf="status_mercado === 2">
        <a href="javascript:void(0)" class="btn btn-round btn-success btn-icon btn-sm edit"
          (click)="atualizarParciais()"><i class="now-ui-icons loader_refresh"></i></a>
      </div>


      <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="Buscar time..." [(ngModel)]="nomeTimeBusca" /> 
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="now-ui-icons ui-1_zoom-bold"></i>
          </div>
        </div>
      </div>

      <div class="text-right">

        <a href="javascript:void(0)" class="btn btn-round btn-primary btn-icon btn-sm edit" data-toggle="tooltip"
          data-placement="top" title="Copiar Códigos" (click)="exportarTimes()"><i
            class="now-ui-icons files_single-copy-04"></i></a>

        <a href="javascript:void(0)" class="btn btn-round btn-success btn-icon btn-sm edit" data-toggle="tooltip"
          data-placement="top" title="Gerar PDF" (click)="gerarPDF()"><i
            class="now-ui-icons arrows-1_cloud-download-93"></i></a>


      </div>

      
        <div class="table-responsive rodadaPDF">
          <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
            <thead class=" text-primary">
              <tr>
                <th>Time</th>
                <th class=" text-right" *ngIf="competicaoRodada.tipoCompeticao === 'TIRO CURTO'" >R$</th>
                <th class="text-right">Parcial</th>
                <th class="text-right" *ngIf="competicaoRodada.tipoCompeticao === 'ANUAL'"> Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parcial of parciais | filter:nomeTimeBusca; let i = index ">
                <td>
                  <div> <span class="datatable-colocacao">{{i + 1}}º</span>
                    <div>
                      <img class="datatable-escudo" src="{{parcial.url_escudo_png}}">
                      <span class="datatable-nome-time" *ngIf="competicaoRodada.statusCompeticao === 'Fechada'">
                        <a href="javascript:void(0)" (click)="showTime(parcial)">
                          {{parcial.nome}}
                        </a>
                      </span>
                      <span class="datatable-nome-time" *ngIf="competicaoRodada.statusCompeticao != 'Fechada'">
                        <a href="javascript:void(0)" (click)="showTime(parcial)">
                          {{parcial.nome}}
                        </a>
                      </span>
                      <span class="datatable-nome-coach"> <img *ngIf="parcial.assinante" class="datatable-pro"
                          src="/assets/img/cartolaPRO.png"> {{parcial.nome_cartola}} </span>
                    </div>
                  </div>
                </td>
                <td class=" text-right" *ngIf="competicaoRodada.tipoCompeticao === 'TIRO CURTO'">
                  <span class="datatable-premiacao" *ngIf="parcial.premiacaoFinalFormatLista > '0' ">
                    {{parcial.premiacaoFinalFormatLista}} </span>
                </td>
                <td class=" text-right">
                  <span class="datatable-pontuacao"> {{parcial.pontuacaoParcial}}</span>
                  <span style="color:red" *ngIf="competicaoRodada.statusCompeticao === 'Fechada'"
                    class="datatable-nome-coach">{{parcial.qtJogadoresPontuados}}/12 </span>
                </td>
                <td class=" text-right" *ngIf="competicaoRodada.tipoCompeticao === 'ANUAL'">
                  <span class="datatable-pontuacaoAnual">{{parcial.totalAnual}}</span>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
      

    </div>
  </div>
</div>