<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="col-lg-8">
          <div style="text-align: justify;">
            <div style="text-align: center;">
              <h3 class="mt-100" style="color: #f57207"><strong class="">Políticas de Privacidade</strong></h3>
            </div>
            

            <p style="text-align: justify;">
              <span style="font-size:20px;"><strong>Geral </strong></span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;">Esta Política poderá ser alterada pela liga a qualquer tempo se aviso prévio
                e
                por isso recomendamos a consulta rotineira para manter-se atualizado.<br>
                Todas as informações pessoais aqui disponibilizada serão usadas de forma assegurar a lisura e segurança
                de
                todos, temos por informações todos aqueles que acessarem o ambiente do site, sejam eles usuários,
                visitantes
                , membros da liga ou demais anunciantes que acessarem ambiente da liga terão tratamento de acordo com a
                lei
                13709/20, Lei de Geral de proteção de dados.<br>
                Os dados aqui colhidos abrangem nome, telefone, mail, endereço, data de nascimento entre outros e o USO
                da
                LIGA point do jogador corresponde a aceitação deste acordo de privacidade. </span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;"><strong>Os anúncios </strong></span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;">Coletamos todas as informações contidas nos anúncios tais como: o browser
                que
                foi utilizado para acessar nosso website tempo de permanência e paginas visitadas a partir do nosso
                website;
                além disso seus endereços IP( Internet Protocol), o ou ISP (Internet Service Proveder)</span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;"><strong>Os Cookies e Web Beacons </strong></span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;">OS cookies utilizados pela liga têm por objetivo armazenar suas preferencias
                pessoais quando de sua visita; isso deste um simples popup, ou ligação de vários serviços que
                disponibilizamos.<br>
                Utilizamos também, como forma de minimizar custos, informes publicitários de outros anunciantes, podendo
                esses utilizar tecnologias cookies e ou web beacons quando de suas publicações ocorrendo então o
                compartilhamento de sua informação disponibilizada no site da liga.<br>
                Essa informação geralmente é usada para o direcionamento de informe publicitário a publico específico
                detectado através das informações previamente disponibilizadas.<br>
                O usuário poderá desativar seus cookies da forma que melhor permitir, mas isso poderá acarretar
                problemas
                na
                forma de interação com o ambiente da liga point do jogador não permitindo que faça login em site ou ainda fórum
                da
                nossa liga e outros programas que estejam interligados.</span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;"><strong>Ligações a Sites de terceiros </strong></span>
            </p>
            <p style="text-align: justify;">
              <span style="font-size:20px;">Leia atentamente a política de privacidade de todos os sites que visita,
                pois
                a
                nossa política não se aplica a nenhum outro site.<br>
                Entendemos que pode haver nessas políticas informações e ferramentas relevantes a todos os usuários. Não
                nos
                responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</span>
            </p>

          </div>
        </div>


        <div class="col-lg-2">
        </div>



      </div>
    </div>
  </div>
</div>  