<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">ADMINISTRAR LIGAS</h2>
    <p class="category">
      Administre aqui sua liga tiro curto.
    </p>
  </div>
</div>

<div class="main-content">
  <div class="places-sweet-alerts">
    <div class="row">

      <div class="col-md-12">
        <div class="card ">
          <div class="card-body text-center">
            <form (ngSubmit)="onSubmit()">

              <div class="form-row align-items-center">

                <div class="col-sm-3 my-1">
                  <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="liga.nomeLiga" 
                        name="nomeLiga" />
                </div>

                <div class="col-sm-3 my-1">
                  <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="liga.valorLiga" 
                        name="valorLiga" />
                </div>

                <div class="col-sm-3 my-1">
                  <select class="form-control" [(ngModel)]="liga.idRodada" 
                  name="idRodada">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>21</option>
                  </select>
                </div>

                <div class="col-auto my-1">
                  <button type="submit" class="btn btn-primary">Gerar</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 " *ngFor="let liga of ligas ">
        <div class="card "> 
          <div class="card-body text-center">
            <h2> {{liga.nomeLiga}} #{{ liga.idRodada}}</h2> 
            <p class="card-text">VALOR POR TIME: R$ {{liga.valorLiga}} </p>
            <p class="card-text">Participantes:  {{liga.totalParticipantes}}</p>
            <p class="card-text">Premiação: R$ {{liga.premiacaoFinalFormat}} </p>
            <p class="card-text">Inscrições até: {{liga.dataFim}} às {{liga.horaFim}} </p>
            <p class="card-text">Situação: {{liga.status}}</p>
            <button class="btn btn-success btn-fill" (click)="gerenciarLiga()">
              GERENCIAR
            </button>
          </div>
          <div class="text-right">
            <a href="javascript:void(0)" class="btn btn-round btn-danger btn-icon btn-sm edit" data-toggle="tooltip"
              data-placement="top" title="Excluir" (click)="excluirLiga(liga)"><i
                class="now-ui-icons ui-1_simple-remove"></i></a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>