<app-mensageria [mensagensFixas]="mensageria.mensagensFixas" [processamento]="mensageria.processamento">
</app-mensageria>
<br>
<div  class="ui-messages ui-widget ui-corner-all ui-messages-warn"
    style="margin: 0 0 1em 0; display: block">
    <span class="ui-messages-icon fa fa-fw fa-2x fa-check"></span>
    <ul>
        <li>
            <span class="ui-messages-summary" style="font-size:16px">Conheça nossas ligas TIRO CURTO!</span>
        </li>
    </ul>
</div>

<div class="leagues-summary__container">
    <ul class="leagues-summary__list ">
        <!-- Item-->
        <li class="leagues-summary__item" *ngFor="let rodada of rodadas ">
            <h3 class="leagues-summary__name">Tiro curto</h3>
            <div class="leagues-summary__award">
                <h2 class="leagues-summary__title">RODADA #{{ rodada.idRodada}}</h2>
            </div>

            <h4 class="leagues-summary__participants">
                <small>VALOR DO PALPITE: R$ {{rodada.valorRodada}}</small>
                <small>Participantes: {{rodada.totalParticipantes}}</small>
                <small>Premiação: {{rodada.premiacaoFinalFormat}}</small>
                <small>Inscrições até: {{rodada.dataFim}} às {{rodada.horaFim}}</small>
                <small>Situação: {{rodada.status}}</small>
            </h4>
            <a *ngIf="rodada.status === 'Fechada'" class="btn--gray btn btn--full" (click)="addTimeRodada(rodada)">Ver parciais</a> 
            <a *ngIf="rodada.status === 'Aberta' || rodada.status === 'Próxima'" class="btn--green btn btn--full"  (click)="addTimeRodada(rodada)"  >PARTICIPAR</a>
        </li>
    </ul>
</div>
