div.box-tabela-premiacao {
    width: 235px;
}
span.datatable-colocacao {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 5px 0 0;
    width: 32px;
    float: left;
}
.pointer-variacao {
    width: 23px;
    margin: 12px 2px 0 0;
    float: left;
}
img.datatable-escudo {
    width: 40px;
    float: left;
    height: 40px;
    margin-right: 10px;
}
img.datatable-pro {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    
}
span.datatable-nome-time {
    margin-left: 90px;
    font-size: 13px;
    display: block;
    font-family: "Open Sans";
    font-weight: bold;
    color: #333;
}
span.datatable-nome-coach {
    margin-left: 2px;
    font-size: 12px;
    display: block;
    font-family: "Open Sans";
    font-weight: 300;
    color: #333;
}

span.datatable-pontuacao {
    font-size: 18px;
    font-weight: 600;
}


.leagues-summary {
    padding: 70px 0 110px;
    background-color: #151212; }
    @media (max-width: 768px) {
      .leagues-summary {
        padding: 60px 0 0; } }
    .leagues-summary__container {
      width: 100%; }
    .leagues-summary__list {
      display: flex;
      width: 100%;
      margin-bottom: 60px;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap; }
      @media (max-width: 768px) {
        .leagues-summary__list {
          margin-bottom: 10px; } }
    .leagues-summary__item {
      width: 44%;
      margin: 0 3% 70px;
      padding: 24px 80px;
      text-align: center;
      background-color: #FF6300;
      border-radius: 14px;
      -webkit-border-radius: 14px;
      box-shadow: 3px 6px 15px 0 rgba(0, 0, 0, 0.2); }
      @media (max-width: 768px) {
        .leagues-summary__item {
          width: 100%;
          margin: 0 0 50px;
          padding: 18px 40px 22px; } }
      .leagues-summary__item.item-color-one {
        background-color: #FF9300 !important; }
      .leagues-summary__item.item-color-two {
        background-color: #FF6300 !important; }
      .leagues-summary__item.item-color-three {
        background-color: #FF4500 !important; }
      .leagues-summary__item .btn--green {
        margin-top: 2px;
        margin-bottom: 7px; }
    .leagues-summary__name {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 18px;
      color: #FFF;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 1px solid #FFF; }
      @media (max-width: 768px) {
        .leagues-summary__name {
          margin-bottom: 8px;
          padding-bottom: 12px;
          font-size: 26px; } }
    .leagues-summary__participants {
      margin-bottom: 10px;
      color: #FFF;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
      @media (max-width: 768px) {
        .leagues-summary__participants {
          margin-bottom: 8px;
          font-size: 18px; } }
      .leagues-summary__participants small {
        
            color: #070707 ;
            text-transform: none ;
            font-weight: bold;
        display: block;
        margin-bottom: 8px;
        font-size: 18px; }
        @media (max-width: 768px) {
          .leagues-summary__participants small {
            margin-bottom: 6px;
            font-size: 14px; } }
    .leagues-summary__text {
      display: block;
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase; }
      @media (max-width: 768px) {
        .leagues-summary__text {
          font-size: 14px; } }
    .leagues-summary__award {
      position: relative;
      width: 100%;
      height: 77px;
      margin-bottom: 8px; }
    .leagues-summary__image {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: #000; }
      .leagues-summary__image img {
        opacity: .5; }
    .leagues-summary__title {
      position: relative;
      z-index: 10;
      width: 100%;
      padding-top: 16px;
      color: #FFF;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase; }
      @media (max-width: 768px) {
        .leagues-summary__title {
          font-size: 20px; } }
    .leagues-summary__rules {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 6px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 10px;
      font-weight: 700;
      text-align: center; }
  
  .leagues-banner {
    position: relative;
    display: flex;
    width: 116.2%;
    height: 340px;
    margin: 50px -8.1% 0; }
    .leagues-banner__description {
      position: relative;
      z-index: 10;
      width: 100%;
      margin: auto 60px;
      color: #FF6300;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.25;
      text-transform: uppercase;
      display: none; }
      @media (max-width: 768px) {
        .leagues-banner__description {
          margin: auto 24px 34px;
          font-size: 23px; } }
      .leagues-banner__description small {
        color: #FFF;
        font-size: 100%; }
    .leagues-banner__image {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%; }
      @media (max-width: 768px) {
        .leagues-banner__image--large {
          display: none !important;
          opacity: 0 !important;
          visibility: hidden !important; } }
      @media (max-width: 768px) {
        .leagues-banner__image--small {
          display: block !important;
          opacity: 1 !important;
          visibility: visible !important; } }
      @media (max-width: 768px) {
        .leagues-banner__image {
          max-width: 350px;
          height: 300px;
          margin: 0 7.3% 40px; }
          .leagues-banner__image img {
            -webkit-object-fit: contain !important;
            object-fit: contain !important; } 
        }
        li {
            list-style-type: none; }
        
            .btn {
                display: inline-block;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                background-color: transparent;
                border: 0;
                -webkit-appearance: none;
                border-radius: 30px;
                -webkit-border-radius: 30px; }
                .btn--full {
                  width: 100%;
                  padding: 19px 22px 18px;
                  font-size: 17px; }
                  @media (max-width: 768px) {
                    .btn--full {
                      padding: 14px 20px 13px;
                      font-size: 15px; } }
                .btn--small {
                  padding: 18px 28px 17px;
                  font-size: 16px; }
                .btn--medium {
                  padding: 17px 70px 16px;
                  font-size: 18px; }
                  @media (max-width: 768px) {
                    .btn--medium {
                      padding: 15px 70px 14px;
                      font-size: 13px; } }
                .btn--large {
                  padding: 21px 68px 19px;
                  font-size: 19px; }
                  @media (max-width: 768px) {
                    .btn--large {
                      padding: 14px 60px 13px;
                      font-size: 16px; } }
                .btn--red {
                  color: #FFF;
                  background-color: #F0370F; }
                  .btn--red:hover {
                    background-color: #B92B0D; }
                .btn--green {
                  color: #FFF;
                  background-color: #55A24B; }
                  .btn--green:hover {
                    background-color: #45843C; }
                .btn--gray {
                  color: #FFF;
                  background-color: #363434; }
                  .btn--gray:hover {
                    background-color: #55A24B; }
                .btn--dark {
                  color: #FFF;
                  background-color: #000; }
                  .btn--dark:hover {
                    background-color: #211F1F; }
                .btn--orange {
                  color: #FFF;
                  background-color: #F0370F; }
                .btn--orange:hover {
                  background-color: #FF6300; }
                .btn--blue {
                  color: #FFF;
                  background-color: #4d66f5; }
                .btn--blue:hover {
                  background-color: #0084ff; }

                .btn--center {
                  display: table;
                  margin: 0 auto; }
                .btn--default {
                  width: 260px;
                  padding: 14px 20px 12px;
                  font-size: 16px; }
                  @media (max-width: 768px) {
                    .btn--default {
                      display: table;
                      margin: 0 auto; } }

                      