div.box-tabela-premiacao {
    width: 235px;
}
span.datatable-colocacao {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 5px 0 0;
    width: 32px;
    float: left;
}
.pointer-variacao {
    width: 23px;
    margin: 12px 2px 0 0;
    float: left;
}
img.datatable-escudo {
    width: 25px;
    float: left;
    height: 44px;
    margin-right: 4px;
}
span.datatable-nome-time {
    margin-left: 2px;
    font-size: 14px;
    display: block;
    font-family: "Open Sans";
    font-weight: bold;
    color: #333;
}
span.datatable-nome-coach {
    margin-left: 2px;
    font-size: 12px;
    display: block;
    font-family: "Open Sans";
    font-weight: 300;
    color: #333;
}

span.datatable-pontuacao {
    font-size: 18px;
    font-weight: 600;
}