<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Usuários</h4>
        </div>
        <div class="card-body">
          <div class="input-group no-border">
            <input type="text" class="form-control" placeholder="Buscar usuario..." [(ngModel)]="usuarioBusca" />
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
              <thead class="text-primary">
                <tr>
                  <th >Código</th>
                  <th >Nome</th>
                  <th >E-mail</th>
                  <th >Contato</th>
                  <th >Time Favorito</th>
                  <th ></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios | filter:usuarioBusca;; let i = index">
                  <th  >
                    {{usuario.id}} &nbsp; 
                  
                  </th>
                  <th  >
                    {{usuario.nome}}
                  </th>
                  <th  >
                    {{usuario.email}}
                  </th>
                  <th  >
                    {{usuario.contato}}
                    &nbsp;
                    <a href="{{urlWapp[i]}}" ><i class="fab fa-whatsapp"></i>  </a>
                  </th>
                  <th  >
                    {{usuario.timeFavorito}}
                  </th>
                  <th  >
                    <div class="" ngbDropdown>
                      <button
                        type="button"
                        class="btn btn-round btn-default btn-simple btn-icon no-caret"
                        data-toggle="dropdown"
                        ngbDropdownToggle
                      >
                        <i class="now-ui-icons loader_gear"></i>
                      </button>
                      <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" 
                        (click)="openModalAddTime(usuario)">
                        <i class="fas fa-plus"></i> Add time</a>
                        <a class="dropdown-item text-danger" 
                        href="javascript:void(0)" 
                        (click)="openModalAtriSenha(usuario)">
                        <i class="fas fa-key"></i> Atribuir Senha</a>
                      </div>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

