<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">LIGA POINT DO JOGADOR</h2>
    <p class="category">
      Logo abaixo estão nossas ligas TIRO CURTO.
    </p>
  </div>
</div>
<div class="main-content">
  <div class="places-sweet-alerts">
    <div class="row" >
      <div class="col-md-4 " *ngFor="let rodada of rodadas ">
        <div class="card ">
          <div class="text-right">
            <a href="https://chat.whatsapp.com/I9Lgep9V4Pz9PbkwHxW7s7" class="btn btn-round btn-success btn-icon btn-sm edit" data-toggle="tooltip"
              data-placement="top" title="Grupo Whatsapp" ><i 
                class="now-ui-icons travel_info"></i></a>
          </div>
          <div class="card-body text-center">
            <h2> RODADA #{{ rodada.idRodada}}</h2> 
            <p class="card-text">VALOR POR TIME: R$ {{rodada.valorRodada}} </p>
            <p class="card-text">Participantes:  {{rodada.totalParticipantes}}</p>
            <p class="card-text">Premiação: R$ {{rodada.premiacaoFinalFormat}} </p>
            <p class="card-text">Inscrições até: {{rodada.dataFim}} às {{rodada.horaFim}} </p>
            <p class="card-text">Situação: {{rodada.status}}</p>

            <button *ngIf="rodada.status === 'Fechada'" class="btn btn-default btn-fill" (click)="participarDaRodada(rodada)">
              VER PARCIAIS
            </button>
            <button *ngIf="rodada.status === 'Aberta' || rodada.status === 'Próxima'" class="btn btn-primary btn-fill" (click)="participarDaRodada(rodada)">
              PARTICIPAR
            </button>

          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
