<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">LIGA POINT DO JOGADOR</h2>
    <p class="category">
      Logo abaixo estão nossas ligas.
    </p>
  </div>
</div>
<div class="main-content">
  <div class="places-sweet-alerts">
    <div class="row" >
      <div class="col-md-4 " *ngFor="let rodada of rodadas ">
        <div class="card ">

          <div class="card-body text-center">
            <h2> {{ rodada.nomeLiga}}</h2>
            <h4 *ngIf="rodada.tipoCompeticao === 'TIRO CURTO'">
              <span class="badge badge-success">TIRO CURTO #{{ rodada.nrRodada}}</span>
            </h4>
            <h4 *ngIf="rodada.tipoCompeticao === 'ANUAL'">
              <span class="badge badge-info">{{ rodada.tipoCompeticao }}</span>
            </h4>
            <h4 *ngIf="rodada.tipoCompeticao === 'MENSAL'">
              <span class="badge badge-warning">{{ rodada.tipoCompeticao }}</span>
            </h4>
            <h4 *ngIf="rodada.tipoCompeticao === 'ELIMINATORIA'">
              <span class="badge badge-danger">{{ rodada.tipoCompeticao }}</span>
            </h4>
             
            <p class="card-text">VALOR POR TIME: R$ {{rodada.valorCompeticao}} </p>
            <p class="card-text">Participantes:  {{rodada.totalParticipantes}}</p>
            <p class="card-text">Premiação: R$ {{rodada.premiacaoFinalFormat}} </p>
            <p class="card-text">Inscrições até: {{rodada.dataFim}} às {{rodada.horaFim}} </p>
            <p class="card-text">Situação: {{rodada.statusCompeticao}}</p>

            <button *ngIf="rodada.statusCompeticao === 'Fechada'" class="btn btn-default btn-fill" (click)="participarDaRodada(rodada)">
              VER PARCIAIS
            </button>
            <button *ngIf="rodada.statusCompeticao === 'Aberta' || rodada.statusCompeticao === 'Próxima'" class="btn btn-primary btn-fill" (click)="participarDaRodada(rodada)">
              PARTICIPAR
            </button>

            <button class="btn btn-icon btn-success btn-whatsapp" >
              <a href="https://chat.whatsapp.com/I9Lgep9V4Pz9PbkwHxW7s7" class="btn-success">
              <i class="fab fa-whatsapp"></i> </a>
            </button>

          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
