<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Pendência de pagamento</h4>
        </div>
        <div class="card-body" >
          <div class="table-responsive">
            <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
              <thead class=" text-primary">
                <tr >
                  <th > </th>
                  <th > Rodada </th>
                  <th >Bilhete</th>
                  <th> Tipo</th>
                  <th >Nome</th>
                  <th >Contato</th>
                  <th rowspan="1" colspan="1" style="width: 100px;">
                    <span class="hidden-xs">Liberar</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bilhete of bilhetes; let i = index">
                  <td>
                    {{i + 1}}
                  </td>
                  <td>
                    #{{bilhete.nrRodada}}
                  </td>
                  <td>
                    {{bilhete.codigoBilhete}}
                  </td>
                  <td>
                    {{bilhete.tipoCompeticao}}
                  </td>
                  <td>
                     {{bilhete.nomeUsuario}}
                  </td>
                  <td>
                      {{bilhete.nrContatoUsuario}}
                  </td>
                  
                  <td>
                    <a href="javascript:void(0)" class="btn btn-round btn-success btn-icon btn-sm like"
                      (click)="liberar(bilhete)"><i class="fas fa-thumbs-up"></i></a>
                      &nbsp;
                      <a href="javascript:void(0)" class="btn btn-round btn-danger btn-icon btn-sm like"
                      (click)="cancelar(bilhete)"><i class="fas fa-thumbs-down"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>