<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Pendência de pagamento</h4>
        </div>
        <div class="card-body" >
          <div class="table-responsive">
            <table class="table table-striped" style="width: 100%;" role="grid" width="100%" cellspacing="0">
              <thead class=" text-primary">
                <tr role="row">
                  <th rowspan="1" colspan="1" style="width: 215px;">Time</th>
                  <th rowspan="1" colspan="1" style="width: 15px;">
                    <span class="hidden-xs">Rodada</span>
                  </th>
                  <th rowspan="1" colspan="1" style="width: 100px;">
                    <span class="hidden-xs">Liberar</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pendencia of pendencias; let i = index">
                  <td tabindex="0">
                    <div ><span class="datatable-colocacao">{{i + 1}}</span>
                      <div>
                        <img class="datatable-escudo" src="{{pendencia.url_escudo_png}}">
                        <span class="datatable-nome-time">{{pendencia.nome}}</span><span
                          class="datatable-nome-coach">{{pendencia.nome_cartola}}
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>#{{pendencia.idRodada}} </td>
                  <td>
                    <a href="javascript:void(0)" class="btn btn-round btn-success btn-icon btn-sm like"
                      (click)="liberar(pendencia)"><i class="fas fa-thumbs-up"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>