.competitions-more-info-component > .header {
    background-color: #d8eaf8;
    display: grid;
    grid-template-columns: 5fr 14fr 5fr;
    justify-content: center;
    padding-top: 100px;
}
.competitions-more-info-component > .content {
    display: grid;
    grid-template-columns: 5fr 14fr 5fr;
    padding: 40px 0;
}
.competitions-more-info-component > .white-content {
    display: grid;
    grid-template-columns: 5fr 14fr 5fr;
    background-color: #fff;
    padding: 40px 0;
}
.competitions-more-info-component > .content > h1 {
    font-size: 20px;
}
.competitions-more-info-component > .content > h1, .competitions-more-info-component > .content strong {
    font-family: opensans-bold;
    font-weight: 700;
}
.competitions-more-info-component > .content > h1, .competitions-more-info-component > .content > p, .competitions-more-info-component > .content > ul {
    grid-column: 2;
    font-family: opensans-regular;
    font-size: 18px;
    margin-top: 16px;
}