<div class="competitions-more-info-component">
  <div class="content">
    <h1 id="classic">Liga por rodada</h1>
    <p>A liga por rodada funciona como um ranking. Será ordenada pelo participamente que fizer mais pontos.</p>
    <p>Observação: A liga leva em conta a pontuação dobrada do CAPITÃO.</p>
    <p>Não têm limite de participantes.</p>
    <p>A pontuação da liga só é contabilizada a partir da rodada em que a mesma for iniciada.</p>
    
    <h1 id="classic">Desempate</h1>
    <ul>
      <li>Acumulou mais pontos ao longo da rodada.</li>
      <li>Acumulou o maior patrimonio durante a rodada.</li>
      <li>Se ainda assim houver empate, ganha o cartoleiro que entrou no Cartola há mais tempo.</li>
    </ul>
    <h1 id="classic">Premiação</h1>
    <p>1º 50%</p>
    <p>2º 20%</p>
    <p>3º 10%</p>


  </div>
</div>